hr {
    height: 0px;
    margin: 40px 0;
    background-color: rgb(87, 87, 87);
    border: none;
}

.Contents {
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 100px;
    background-color: var(--maingray);
}

.contents_container {
    width: 100%;
    max-width: var(--max_width);
    min-height: 1500px;
    height: 100%;
    margin: 0 auto;
}

.contents_wrap {
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    letter-spacing: 0.8px;
}

.contents_title_container {
    width: 100%;
    padding: 0px 20px;
}

/* 글 제목 */
.contents_title {
    width: 100%;
    max-width: var(--max_width);
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--title_color);
    opacity: 1;
    transition: 500ms;
}

.contents_title_2 {
    position: fixed;
    left: 0px;
    top: 27px;
    width: 100%;
    height: 0;
    opacity: 0;
    cursor: default;
    z-index: calc(var(--header_index) + 1);
    transition: opacity 250ms ease-out;
}

.contents_title_2>p {
    max-width: var(--max_width);
    margin: 0 auto;
    padding: 0 60px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--title_color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* 글 정보 */

.postInfo_container {
    position: relative;
    display: block;
}

.postInfo {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 0.9rem;
    text-align: left;
    color: #FFFFC6;
    white-space: nowrap;
    transition: 500ms;
}

.postInfo>span:first-child {
    cursor: pointer;
}

.postInfo>span {
    white-space: nowrap;
    padding: 0 8px;
    padding-bottom: 10px;
}

.postInfo_time {
    position: absolute;
    top: 45px;
    right: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.75rem;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    user-select: none;
    cursor: default;
    transition: 50ms;
}

/* 글 디테일 정보 */

.postDetail_container {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.tags {
    position: relative;
}
.tags li {
    margin-right: 12px;
}
.tags li span {
    border-radius: 0px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: rgb(210, 210, 210);
    background-color: rgba(200, 200, 255, 0.18);
    transition: 200ms;
    white-space: nowrap;
    cursor: pointer;
}

/* 글 내용 */

.contents_main {
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 30px;
    transition: 200ms;
}

/* hover */

@media (hover: hover) {
    .postInfo:hover {
        color: #ffff86;
    }

    .contents_title:hover {
        filter: brightness(120%) saturate(2200%);
    }

    .contents_title_2:hover {
        filter: brightness(120%) saturate(2200%);
    }

    .postInfo>span:first-child:hover {
        text-decoration: underline;
        text-underline-position: under;
    }

    .postDate:hover~.postInfo_time {
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 1);
        transition: 200ms;
    }

    .tags li:hover span {
        color: rgb(245, 245, 245);
        background-color: rgba(200, 200, 255, 0.25);
    }
}

/* 미디어 쿼리 */

@media (max-width:1280px) {

    /* isPC 기준 태블릿 범위 */
    .contents_title_2 {
        display: none;
    }
}