@import '../../common/common.scss';

.Main {
    padding-top: $headerHeight;
    padding-bottom: 200px;
    flex: 1;
}
.Main_container {
    display: none;
    width: 100%;
    min-height: 1000px;
    max-width: $contentsMaxWidth;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 60px;
    padding-bottom: 500px;
    box-sizing: border-box;
    .boardName {
        display: flex;
        height: 44px;
        line-height: 44px;
        margin-bottom: 15px;
        text-align: left;
        font-weight: 300;
        
        align-items: center;
        &>span {
            height: 44px;
            line-height: 44px;
            margin-right: 5px;
        }
    }
}
.Main_title {
    position: relative;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 100px;
}
.controller_container {
    display: flex;
}