.Footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--footergray);
}
.Footer_container {
    width: 100%;
    height: 100%;
    max-width: var(--max_width);
    padding: 0 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 0px auto;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: rgb(141, 141, 141);
    background-color: var(--footergray);
    text-align: left;
}
.fadeBottom{
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: var(--header_index);
}