/* Color */
$darkGray: rgb(26, 28, 29);
$middleGray: rgb(29, 33, 35);
$headerColor: rgba(29, 33, 35, 0.9);
$logoColor: rgb(160, 160, 255);

/* Header */
$headerGradientGray: linear-gradient(180deg, rgba(29, 33, 35,1) 0%, rgba(29, 33, 35,1) 85%, rgba(29, 33, 35,0) 100%);
$headerHeight: 65px;
$headerMaxWidth: 1400px;
$headerZ: 1000;

/* Footer */
$footerMaxWidth: 1100px;

/* Contents */
$contentsMaxWidth: 1100px;
