* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background-color: rgb(28, 28, 28);
}
body::-webkit-scrollbar {
  width: 13px;  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: rgba(0, 230, 255, 0.13); /* 스크롤바의 색상 */
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 230, 255, 0.16);
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);  /*스크롤바 뒷 배경 색상*/
  
}
hr {
  height: 1px;
  margin-bottom: 12px;
  background-color: rgb(87, 87, 87);
  border: none;
}
.App {
  height: 100px;
  line-height: 100px;
  background-color: #eee;
  text-align: center;
}
.round {
  border-radius: 10px;
}
.BackColor {
  background-color: rgb(33, 33, 33);
  padding-bottom: 30px;
}