.TagList {
    max-width: 60%;
    max-height: 94px;
    margin: 20px 40px;
    margin-bottom: 20px;
    text-align: left;
    overflow: hidden;
}
.TagList li {
    margin-right: 17px;
    user-select: none;
    box-sizing: content-box;
}
.TagList li:first-child p{
    color: rgb(255, 255, 255);
    background-color: rgba(100, 100, 170, 0.7);
}
.TagList li p {
    display: inline-block;
    border-radius: 0px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: rgb(210, 210, 210);
    background-color: rgba(100, 100, 170, 0.3);
    transition: 200ms;
    white-space: nowrap;
    cursor: pointer;
}
.TagList li p > span{
    margin-left: 10px;
    opacity: 0.6;
    user-select: none;
}


/* hover */


    .TagList li:hover p {
        color: rgb(245, 245, 245) !important;
        background-color: rgba(200, 200, 255, 0.25)
        !important;
    }
    .TagList li:first-child:hover p {
        color: rgb(245, 245, 245) !important;
        background-color: rgba(120, 120, 220, 0.7) !important;
    }
